@model ProdMan_Models.Tables.Leverancier

@{
    ViewBag.Title = "Delete";
}
<br />
<div class="alert alert-success">
    <strong>Weet u zeker dat u deze leverancier wilt verwijderen?</strong> Het is hierna niet meer mogelijk om dit ongedaan te maken!
</div>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nummer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nummer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Naam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Naam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Postcode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Postcode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Plaats)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Plaats)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefoon1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefoon1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefoon2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefoon2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fax)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Website)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Website)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactPersoon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactPersoon)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Ja" class="btn btn-danger" />
            @Html.ActionLink("Nee", null, null, null, new { href = Request.UrlReferrer, @class = "btn btn-success" })
        </div>
    }
</div>
