@using ProdMan_Models.Tables
@model IEnumerable<ProdMan_Models.Tables.Leverancier>

@{
    ViewBag.Title = "Index";
}

<h2>Leverancier</h2>

<p>
    @Html.ActionLink("Nieuw Product", "Create", null, new { @class = "btn btn-primary" })
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nummer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Naam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Adres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefoon1)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        Leverancier leverancier = item;
        <tr>
            <td onclick="location.href = '@Url.Action("Details", "Leveranciers", new { id = leverancier.Id })'" style="cursor: pointer;">
                @Html.DisplayFor(modelItem => leverancier.Nummer)
            </td>
            <td onclick="location.href = '@Url.Action("Details", "Leveranciers", new { id = leverancier.Id })'" style="cursor: pointer;">
                @Html.DisplayFor(modelItem => leverancier.Naam)
            </td>
            <td onclick="location.href = '@Url.Action("Details", "Leveranciers", new { id = leverancier.Id })'" style="cursor: pointer;">
                @Html.DisplayFor(modelItem => leverancier.Adres)
            </td>
            <td onclick="location.href = '@Url.Action("Details", "Leveranciers", new { id = leverancier.Id })'" style="cursor: pointer;">
                @Html.DisplayFor(modelItem => leverancier.Telefoon1)
            </td>            
        </tr>
    }

</table>
