@using ProdMan_Models.Tables
@model IEnumerable<ProdMan_Models.Tables.ProductGroep>

@{
    ViewBag.Title = "Productgroepen";
}

<h2>Productgroepen</h2>

<div class="row">
    <div class="col-md-6">
        <p>
            @Html.ActionLink("Toevoegen", "Create", null, new { @class = "btn btn-primary" })
        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nummer)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Naam)
                </th>
                
            </tr>


            @foreach (var item in Model)
            {
                ProductGroep productGroep = item;

                <tr>
                    <td onclick="location.href = '@Url.Action("Details", "Productgroepen", new { id = item.Id })'" style="cursor: pointer;">
                        @Html.DisplayFor(modelItem => productGroep.Nummer)
                    </td>
                    <td onclick="location.href = '@Url.Action("Details", "Productgroepen", new { id = item.Id })'" style="cursor: pointer;">
                        @Html.DisplayFor(modelItem => productGroep.Naam)
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
