@model IEnumerable<ProdMan_Models.View.ProductView>

@{
    ViewBag.Title = "Producten";
}

<h2>Producten</h2>

<p>
    @Html.ActionLink("Nieuw Product", "Create", null, new {@class = "btn btn-primary"})
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Product.Nummer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product.Naam)
        </th>        
        <th>
            @Html.DisplayNameFor(model => model.Product.Prijs)
        </th>        
        <th>
            @Html.DisplayNameFor(model => model.Leverancier.Naam)
        </th>

        <th>
            @*@Html.DisplayNameFor(model => model.ProductGroep.Naam)*@
            Groep: 
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product.WijziginsDatum)
        </th>
        @*<th></th>*@
    </tr>

@foreach (var item in Model) {
    <tr>
        <td onclick="location.href = '@Url.Action("Details", "Product", new { id = item.Product.Id })'" style="cursor: pointer;">
            @Html.DisplayFor(modelItem => item.Product.Nummer)
        </td>
        <td onclick="location.href = '@Url.Action("Details", "Product", new { id = item.Product.Id })'" style="cursor: pointer;">
            @Html.DisplayFor(modelItem => item.Product.Naam)
        </td>
        <td onclick="location.href = '@Url.Action("Details", "Product", new { id = item.Product.Id })'" style="cursor: pointer;">
            @Html.DisplayFor(modelItem => item.Product.Prijs)
        </td>
        <td onclick="location.href = '@Url.Action("Details", "Product", new { id = item.Product.Id })'" style="cursor: pointer;">
            @Html.DisplayFor(modelItem => item.Leverancier.Naam)
        </td>
        <td onclick="location.href = '@Url.Action("Details", "Product", new { id = item.Product.Id })'" style="cursor: pointer;">
            @Html.DisplayFor(modelItem => item.ProductGroep.Naam)
        </td>
        <td onclick="location.href = '@Url.Action("Details", "Product", new { id = item.Product.Id })'" style="cursor: pointer;">
            @Html.DisplayFor(modelItem => item.Product.WijziginsDatum)
        </td>
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Product.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Product.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Product.Id })
        </td>*@
    </tr>
}

</table>
