@using ProdMan_Models.Tables
@model IEnumerable<ProdMan_Models.Tables.Btw>

@{
    ViewBag.Title = "Index";
}

<h2>Btw</h2>

<p>
    @Html.ActionLink("Nieuw btw percentage", "Create", null, new { @class = "btn btn-primary" })
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BtwNaam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BtwValue)
        </th>       
    </tr>

@foreach (var item in Model) {
    Btw btw = item;
    <tr>
        <td onclick="location.href = '@Url.Action("Details", "Btw", new { id = item.Id })'" style="cursor: pointer;">
            @Html.DisplayFor(modelItem => btw.BtwNaam)
        </td>
        <td onclick="location.href = '@Url.Action("Details", "Btw", new { id = item.Id })'" style="cursor: pointer;">
            @Html.DisplayFor(modelItem => btw.BtwValue)
        </td>
    </tr>
}

</table>
