@using ProdMan_Models.Tables
@model IEnumerable<ProdMan_Models.Tables.ProductEigenschappen>

@{
    ViewBag.Title = "Product Eigenschappen";
}

<h2>Product eigenschappen</h2>

<p>
    @Html.ActionLink("Nieuw Product eigenschap", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nummer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Naam)
        </th>
    </tr>

    @foreach (var item in Model) {        
        ProductEigenschappen productEigenschappen = item;
        <tr>
            <td onclick="location.href = '@Url.Action("Details", "ProductEigenschappen", new { id = item.Id })'" style="cursor: pointer;">
                @Html.DisplayFor(modelItem => productEigenschappen.Nummer)
            </td>

            <td onclick="location.href = '@Url.Action("Details", "ProductEigenschappen", new { id = item.Id })'" style="cursor: pointer;">
                @Html.DisplayFor(modelItem => productEigenschappen.Naam)
            </td>     
        </tr>
    }
</table>
